.footer {
  width: 880px;
  color: #545454;
  margin: 67px auto 60px;
}

@media screen and (max-width: 1024px) {
  .footer {
    width: 780px;
    margin: 67px auto 60px;
  }
}

@media screen and (max-width: 900px) {
  .footer {
    width: 680px;
    margin: 67px auto 60px;
  }
}

@media screen and (max-width: 720px) {
  .footer {
    width: 282px;
    margin: 67px auto 36px;
  }
}